<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>
        var Session = {};
    </script>
    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <link href="~/Areas/Transactions/Css/SeleccionPerfil.css" rel="stylesheet" />
    <style>
        body {
            /*background-image: url('/Areas/Transactions/Images/Fondoazul.png');*/
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }

        .form-control {
            min-height: 41px;
            background: #fff;
            border-color: #e3e3e3;
            box-shadow: none !important;
            border-radius: 4px;
        }

            .form-control:focus {
                border-color: #99c432;
            }

        .login-form {
            width: 310px;
            margin: 0 auto;
            padding: 100px 0 30px;
        }

            .login-form form {
                color: #999;
                border-radius: 10px;
                margin-bottom: 15px;
                background: #fff;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
                position: relative;
            }

            .login-form h2 {
                font-size: 24px;
                color: #454959;
                margin: 45px 0 25px;
                font-family: 'Francois One', sans-serif;
            }

            .login-form .avatar {
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -50px;
                width: 95px;
                height: 95px;
                border-radius: 50%;
                z-index: 9;
                background: #70c5c0;
                padding: 15px;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            }

                .login-form .avatar img {
                    width: 100%;
                }

            .login-form .btn {
                color: #fff;
                border-radius: 4px;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                border: none;
            }

        .login-btn, .login-btn:active {
            font-size: 16px;
            font-weight: bold;
            background: #99c432 !important;
            margin-bottom: 20px;
        }

            .login-btn:hover, .login-btn:foucs {
                background: #86ac2d !important;
            }

        .social-btn {
            padding-bottom: 15px;
        }

            .social-btn .btn {
                margin-bottom: 10px;
                font-size: 14px;
                text-align: left;
            }

                .social-btn .btn:hover {
                    opacity: 0.8;
                    text-decoration: none;
                }

            .social-btn .btn-primary {
                background: #507cc0;
            }

            .social-btn .btn-info {
                background: #64ccf1;
            }

            .social-btn .btn-danger {
                background: #df4930;
            }

            .social-btn .btn i {
                float: left;
                margin: 1px 10px 0 5px;
                min-width: 20px;
                font-size: 18px;
            }

        .or-seperator {
            height: 0;
            margin: 0 auto 20px;
            text-align: center;
            border-top: 1px solid #e0e0e0;
            width: 30%;
        }

            .or-seperator i {
                padding: 0 10px;
                font-size: 15px;
                text-align: center;
                background: #fff;
                display: inline-block;
                position: relative;
                top: -13px;
                z-index: 1;
            }

        .login-form a {
            color: #fff;
            text-decoration: underline;
        }

        .login-form form a {
            color: #999;
            text-decoration: none;
        }

            .login-form a:hover, .login-form form a:hover {
                text-decoration: none;
            }

            .login-form form a:hover {
                text-decoration: underline;
            }
    </style>

</head>

<!------ Include the above in your HEAD tag ---------->
<body>


    <div id="ContenedorLogin" class="container">   

        <div class="login-form">
            <form>
                <div class="avatar">
                    <img src="~/Areas/Transactions/Images/avatar.png" alt="Avatar" />
                </div>
                <h2 class="text-center"><b>Home Money</b></h2>
                <div class="social-btn text-center">

                    <div class="bs-example" style="display:none;" id="divalertError">
                        <div class="alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Acceso denegado!</strong> Usuario y/o contraseña es incorrecto.
                        </div>
                    </div>

                    @*<a href="#" class="btn btn-primary btn-block btn-lg"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>*@
                    @*<a href="#" class="btn btn-info btn-block btn-lg"><i class="fa fa-twitter"></i> Sign in with <b>Twitter</b></a>*@

                </div>
                <div class="or-seperator"><i></i></div>
                <div class="form-group">
                    <input type="text" class="form-control" name="Email" placeholder="Email" id="txtemail" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña" id="txtclave" required="required">
                </div>
                <div class="row"></div>
                <div class="form-group">
                    <button type="button" id="btnLogin" class="btn btn-primary btn-lg btn-block">Iniciar Sesion</button>
                    <button type="button" id="btnRegistrarse" class="btn btn-danger btn-lg btn-block">Registrate</button>
                    @*<a href="#" class="btn btn-danger btn-block btn-lg"><i class="fa fa-google"></i> <b>Registrate </b></a>*@
                </div>
                <p class="text-center small"><a href="#">Olvido su contraseña?</a></p>
            </form>
            @*<p class="text-center small">No tienes una cuenta? <a href="#">Ingresa aquí</a></p>*@
        </div>


    </div>

</body>
</html>
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery-addon-home")
@Scripts.Render("~/bundles/Home-Struct")
@Scripts.Render("~/bundles/HomeMoneyLib ")
@Scripts.Render("~/bundles/Login")
