<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css431")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>
        var Session = {};
    </script>
    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <link href="~/Areas/Transactions/Css/SeleccionPerfil.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .panel-success {
            border-color: #d6e9c6;
        }

            .panel-success > .panel-heading {
                color: #3c763d;
                background-color: #dff0d8;
                border-color: #d6e9c6;
            }

                .panel-success > .panel-heading + .panel-collapse .panel-body {
                    border-top-color: #d6e9c6;
                }

            .panel-success > .panel-footer + .panel-collapse .panel-body {
                border-bottom-color: #d6e9c6;
            }

        .panel-info {
            border-color: #bce8f1;
        }

            .panel-info > .panel-heading {
                color: #31708f;
                background-color: #d9edf7;
                border-color: #bce8f1;
            }

                .panel-info > .panel-heading + .panel-collapse .panel-body {
                    border-top-color: #bce8f1;
                }

            .panel-info > .panel-footer + .panel-collapse .panel-body {
                border-bottom-color: #bce8f1;
            }

     
    </style>
</head>

<!------ Include the above in your HEAD tag ---------->
<body>
    <div class="wrapper" id="ContenedorPanelControl">

        <div class="panel panel-success" style="top:0px; position: absolute;width:100%">
            <div class="panel-heading">
                <h4 class="panel-title text-center">
                    Seguimos operando con normalidad, no te arriesgues y #QuedateEnCasa
                </h4>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </div>
        </div>
        <div class="py-5"></div>
        <section id="team">
            <div class="container my-1 py-4 text-center">

                

                <div class="row" id="">

                    <div class="col-lg-3 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <img src="~/Areas/Transactions/Images/CambiarAhora.png" alt="" class="img-fluid rounded-circle w-75 mb-3">
                                    <h5>.</h5>
                                    <h5>Cambiar ahora</h5>
                                    <p class="py-1"></p>
                                    <div class="d-flex flex-row justify-content-center">
                                        <div class="p-12">
                                            <button type="button" id="btnCambiarAhoraControl" class="btn btn-info"> Ingresar</button>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Areas/Transactions/Images/MisOrdenes.png" alt="" class="img-fluid rounded-circle w-75 mb-3">
                                <h5>.</h5>
                                <h5>Mis ordenes</h5>
                                <p class="py-1"></p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-12">
                                        <button type="button" id="btnMisOrdenesControl" class="btn btn-info"> Ingresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Areas/Transactions/Images/MisDatos.png" alt="" class="img-fluid rounded-circle w-75 mb-3">
                                <h5>.</h5>
                                <h5>Mis datos</h5>
                                <p class="py-1"></p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-12">
                                        <button type="button" id="btnMisDatosControl" class="btn btn-info"> Ingresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="~/Areas/Transactions/Images/CuentaBancaria.png" alt="" class="img-fluid rounded-circle w-75 mb-3">
                                <h5>Mis cuentas</h5>
                                <h5>bancarias</h5>
                                <p class="py-1"></p>
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="p-12">
                                        <button type="button" id="btnMiCuentaControl" class="btn btn-info"> Ingresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>




            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    Open modal
                </button>*@

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header modal-info">
                            <h4 class="modal-title">Registrar nuevo perfil</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <form>
                                    <div class="form-group">
                                        <div class="col-md-12 col-xs-6">
                                            <label for="txtrazonsocial">Razon Social</label>
                                            <input type="text" id="txtrazonsocial" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12 col-xs-6">
                                            <label for="txtRuc">Ruc</label>
                                            <input type="text" id="txtRuc" class="form-control">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" id="btnRegistrarPerfil" class="btn btn-info" data-dismiss="modal">Registrar</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery-addon-home")
@Scripts.Render("~/bundles/Home-Struct")
@Scripts.Render("~/bundles/HomeMoneyLib")
@Scripts.Render("~/bundles/PanelControl")
